<div class="top-bar">
  <button (click)="showAllScans = !showAllScans">
    {{ showAllScans ? "Hide All Scans" : "View All Scans" }}
  </button>

  <button (click)="showCreateScan = !showCreateScan">
    {{ showCreateScan ? "Hide Create Scan" : "Create New Scan" }}
  </button>
</div>

<div *ngIf="showAllScans" class="card">
  <app-view-scans></app-view-scans>
</div>

<div *ngIf="showCreateScan" class="card">
  <div class="container">
    <div class="card">
      <app-create-scan (scanStarted)="addScan($event)"></app-create-scan>
    </div>

    <div *ngFor="let scan of scans" class="card">
      <div *ngIf="!scan.isCompleted">
        <app-scan-status
          [scanId]="scan.scanId"
          (scanCompleted)="updateScanResults(scan.scanId, $event)"
        >
        </app-scan-status>
      </div>

      <div *ngIf="scan.isCompleted">
        <app-scan-results [results]="scan.results"></app-scan-results>
      </div>
    </div>
  </div>
</div>
